<div class="header">
  <div class="container">
    <img src="/assets/Doum_Logo.png" alt="Doum Logo">
    <h1>Story</h1>
  </div>
</div>

<div class="create">
  <div class="container">
    <%= form_for(@message) do |f| %>
    <div class="field">
      <%= f.label :entry %><br>
      <%= f.text_area :content %>
    </div>
    <div class="actions">
      <%= f.submit "Contribute" %>
    </div>
    <% end %>
  </div>
</div>
