<div class="header">
  <div class="container">
    <img src="/assets/Doum_Logo.png" alt="Doum Logo">
    <h1>Story</h1>
  </div>
</div>


  <div class="container">
    <h1 style="text-align:center">Log In </h1>
    <form>
    <table width="50%" style="margin: 0 auto" align="center" border="0" cellpadding="5px" cellspacing=0>
      <tr>
        <td>
          <label class="label-name">Username:</label>
          <input class="txtBox" type="text" name="First Name" placeholder="Username or Email"/>
        </td>
      </tr>
      <tr>
        <td>
          <label class="label-name">Password:</label>
          <input class="txtBox" type="text" name="Last Name" placeholder="Password"/>
        </td>
      </tr>
      <tr>
        <td><button>Enter</button><button><%=link_to "Cancel", "/story"%></button></td>
      </tr>
    </table>
  </form>
  </div>
